{if $result}
{foreach $result as $post}
<div class="d-flex gap-2 mb-2">
    <img src="{$post[featured_image]}" class="thumbnail-search" alt="images">
    <div class="d-flex flex-column">
        <a href="{site_url('/post/'.$post['author'].'/'.$post['slug'])}" class="link h5">
            {$post[title]}
        </a>
        <div>
            <p class="m-0 intro">{$post['intro']|noescape}</p>
        </div>
    </div>
</div>
{/foreach}
{elseif !$q}
<div><em>Cari data artikel dengan pada kolom pencarian diatas</em></div>
{else}
<div><em>Maaf, data dengan kata kunci <u>{$q}</u> tidak ditemukan</em></div>
{/if}