{if $result}
{foreach $result as $video}
<div class="d-flex gap-2 mb-2">
    <img src="{= $video['cover'] }" alt="images" class="thumbnail-search">
    <div class="d-flex flex-column">
        <a href="#" class="link h5">
            {= $video['title'] }
        </a>
        <div>
            <p class="m-0 intro">{= $video['duration'] }</p>
        </div>
    </div>
</div>
{/foreach}
{elseif !$q}
<div><em>Cari data video dengan pada kolom pencarian diatas</em></div>
{else}
<div><em>Maaf, data dengan kata kunci <u>{$q}</u> tidak ditemukan</em></div>
{/if}