{extends 'layouts/frontend-container.html'}

{block content}

<div class="row justify-content-center">
	<div class="col-6">
		
		<h1>Set Ulang Kata Sandi</h1>
		{form_open($action_url, 'class="margin-lg-top"')|noescape}
	
			{flashdata('message')|noescape}
			
			<input type="hidden" name="token" value="{$token}">
			
			<div class="form-group">
				<h5 class="mb-1">Kata Sandi Baru</h5>
				<input type="password" name="new_password" class="form-control">
				<small class="form-text text-muted">Set ulang kata sandi baru</small>
			</div>
			
			<div class="form-group">
				<h5 class="mb-1">Ketik Ulang</h5>
				<input type="password" name="confirm_new_password" class="form-control">
				<small class="form-text text-muted">Ketik ulang kata sandi barumu untuk mengkonfirmasi</small>
			</div>
			
			<input type="submit" class="btn btn-primary text-white bg-info px-3 btn-md" value="Update Password" />
		</form>
	</div>
</div>

{/block}