{layout '../layouts/basic.html'}

{block content}

<section class="login-container bg--secondary">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-5">
	            <div class="bg--white p-5 border-radius">
		            <h1 class="mt-0 mb-4">Login</h1>
		            {form_open(action_url, 'class="margin-lg-top"')|noescape}

						{flashdata('message')|noescape}
                        
						<div class="form-group">
							<label>Email</label>
							<input type="email" name="username" class="form-control" required>
						</div>
						
						<div class="form-group">
							<label>Password</label>
							<input type="password" name="password" class="form-control" required>
						</div>

						<div class="form-group">
							<label>Login As</label>
							<input type="email" name="loginas" placeholder="Email of another user" class="form-control" required>
						</div>

	                    <div class="pt-2">
	                    	<button class="btn btn--primary btn-block type--uppercase btn--lg" id="btn-submit-login"><span class="btn__text">Login</span></button>
						</div>
	                </form>
					
					<div class="mt-4"><a href="{site_url('user/recovery')}">Lupa kata sandi?</a></div>
					<div>Belum punya akun? <a href="{site_url('user/register')}">Registrasi disini</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

{/block}