{extends 'layouts/basic.html'}

{block content}

{if setting_item('site.enable_registration') == 'off'}
 {redirect('user/login')}
{/if}

<style>
    label { font-size: 120% }
    p.description { line-height: 16px;margin-bottom: 10px; font-size: 80%; }
</style>
<section class="register-container bg--secondary">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="bg--white p-5 border-radius">
                    <h1 class="mt-0 mb-4">Registrasi</h1>

                    {flashdata('message')|noescape}

                    {$script_captcha|noescape}

                    {form_open($action_url)|noescape}
                        <div class="form-group">
                            <label>Nama Lengkap</label>
                            <input type="text" name="name" value="{set_value('name')}" class="form-control" required placeholder="Masukkan nama lengkapmu" />
                            {form_error('name')}
                        </div>
                        <div class="form-group">
                            <label>Alamat Email</label>
                            <input type="email" name="email" value="{set_value('email')}" class="form-control" required placeholder="Masukkan alamat email yang valid, mis. namasaya@gmail.com" />
                            {form_error('email')}
                        </div>
                        <div class="form-group">
                            <label>Nomor WhatsApp</label>
                            <input type="text" name="phone" value="{set_value('phone')}" class="form-control" placeholder="Nomor WhatsApp" required />
                            {form_error('phone')}
                        </div>
                        <div class="form-group">
                            <label>Kata Sandi</label>
                            <input type="password" name="password" value="{set_value('password')}" class="form-control" required placeholder="Masukkan kata sandi minimal 6 karakter" />
                            {form_error('password')}
                        </div>
                        <div class="form-group">
                            <label>Konfirmasi Kata Sandi</label>
                            <input type="password" name="confirm_password" value="{set_value('confirm_password')}" class="form-control" required placeholder="Masukkan ulang kata sandi" />
                            {form_error('confirm_password')}
                        </div>
                        <div class="form-group">
                            {$captcha|noescape}
                        </div>
                        <div class="pt-2">
                            <button class="btn btn-success btn-block" id="btn-submit-register"><span class="btn__text">Register</span></button>
                        </div>
                    </form>

                    <div class="mt-4 text-end">Sudah pernah registrasi? <a href="{site_url('user/login')}">Masuk lewat sini</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

{/block}
