{layout '../layouts/basic.html'}

{block content}

<section class="user-dashboard-form">
	<div class="container mt-2 mb-5">
		<div class="row justify-content-md-center">
			<div class="col-md-8 col-md-offset-2">

				<h1 class="mt-0">Hubungkan ke Bot Telegram</h1>

				<p>Kamu dapat menghubungkan akun Premium CodePolitan ke bot Telegram <a href="<?= $bot['url']; ?>" target="_blank">@{bot.name}</a>. Setelah terhubung, Kamu akan langsung mendapatkan pemberitahun dari Kandita seputar pembaharuan di CodePolitan Premium, seperti bila ada pembaharuan konten, jawaban dari pertanyaanmu di forum dan sebagainya.</p>

				{if not tg_user}
				
				<script async src="https://telegram.org/js/telegram-widget.js?4" data-telegram-login="{bot.name}" data-size="large" data-radius="20" data-auth-url="{site_url('bot/connecting')}" data-request-access="write"></script>
				
				{else}
					<p>Akunmu telah terhubung dengan akun Telegram:</p>
					<div class="media">
						<img class="me-3 rounded-circle" src="{tg_user.photo_url}" width="80px">
						<div class="media-body">
							<h5 class="mt-3 mb-0">{tg_user.first_name ~ ' ' ~ tg_user.last_name}</h5>
							<p>({tg_user.username})</p>
						</div>
					</div>

				{/if}
			</div>
		</div>
	</div>
</section>

{/block}